.emoji-button {
    border: none;
    padding: 0;
    border-radius: 5px;
    background-color: white;

    height: 200px;

    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: #777 0px 1px 3px 0px;
    transition: 300ms all;
}

.emoji-button:hover {
    cursor: pointer;
    box-shadow: #777 0px 5px 10px 2px;
}

.emoji-container {
    background-color: #00b5ff;
    border-radius: 5px 5px 0 0;
    transition: 300ms all;
    color: #180643;
    padding: 1em;
}

.emoji-button:hover .emoji-container {
    color: #180643;
}

.emoji-button:hover .emoji {
    font-size: 3em;
}

.emoji-button .emoji {
    text-align: center;
    font-size: 2em;
    transition: 300ms all;
}

.emoji-info {
    transition: 300ms all;
    padding-top: 1em;
}

.emoji-button .text {
    text-align: center;
}

.emoji-button .description {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}
