header {
  background-color: #180643;
  /* text-align: center; */
  padding: 2em;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #777 0px 1px 3px 0px;
}

header img {
  width: 100px;
  height: auto;
}

.header-text {
  margin-left: 1em;
}

header p {
  color: #00b5ff;
}