.emoji-list {
  margin-top: 2em;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin-right: 15%;
  margin-left: 15%;
}

.help-text {
  margin-top: 1em;
  color: #777;
  text-align: center;
}